// Estilos generales
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

// Variables
$color-primary: #4E5150;
$color-secondary: #A9A9A9;
$color-terciary: #E5E5E5;
$color-gray: #BDBDBD;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}